h2{
    color: darkcyan;
    padding: 5px;
}

h2{
    color: darkgreen;
}


.parrafo{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: darkgoldenrod;
}

.parrafo{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: darkgoldenrod;
    font-size: 20px;
}
