body{
    background: #EFF2F3;
}

h1{
    color: #B92308;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.imagen img {
    width: 300px;
    position: absolute;
}

#titulo1{
    padding: 5px;
    font-weight: bolder;
}

.content{
    margin-left: 300px;
    font-family: 'Quicksand', sans-serif;
}

.info{
    margin-left: 315px;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}

.info2{
    font-family: 'Quicksand', sans-serif;
}

.posicionar-img{
    display: flex;
    margin: 12px;
    padding: 5px;
}

.posicionar-img div img{
    padding: 5px;
    width: 300px;
    height: 200px;
    border-radius: 10%;
}

.footer{
    text-align: center;
    margin-top: 0px;
    font-family: 'Quicksand', sans-serif;
    align-self: flex-end;
}